[Unit]
Description = Reverse ssh tunnel
After =  network-online.target 
#Requires

[Service]
User = tobarows
#Type = forking
Environment=AUTOSSH_GATETIME=0
ExecStart = /usr/bin/autossh -M 0 -q -N -o "PubKeyAuthentication=yes" -o "PasswordAuthentication=no" -o "ExitOnForwardFailure=yes" -o "ServerAliveInterval 30" -o "ServerAliveCountMax 3"  -i /home/tobarows/.ssh/id_rsa -R 45655:localhost:22 -l tobarows 10.0.4.7
ExecStop= /usr/bin/killall autoissh
RestartSec=5
Restart=always


[Install]
WantedBy = multi-user.target  
